@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

html,
body {
  font-family: 'Fredoka', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 99vh;
}
